<!DOCTYPE html>
<html>
  <head>
    <title>{{ page }}</title>
  </head>
  <body>
    <h1>{{ page }}</h1>
    <p>{{ message }}</p>
    <p><a href="/">Home</a> | <a href="/about">About</a></p>
  </body>
</html>
