<!DOCTYPE html>
<html>
<head>
    <title>Home - Pyramid Request Handling</title>
</head>
<body>
    <h1>{{ message }}</h1>

    <form action="/form" method="POST">
        <label>Nama:</label>
        <input type="text" name="name" placeholder="Masukkan nama">
        <button type="submit">Kirim</button>
    </form>
</body>
</html>
